/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2rem;
}

/* /GENERAL RULES */

/****** UTILITIES ******/
.container {
    width: 1500px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

/****** UTILITIES ******/

/* STYLE */

/** Main style **/
main {
    background-color: #000;
}

.users-card {
    width: calc(100% / 7 - 10px);
    margin: 5px 5px;
    position: relative;
}

.users-card img {
    width: 100%;
    display: block;
}

.user-info {
    color: #fff;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #66737d;
    opacity: 0.8;
    padding: 5px;
}

/** /Main style **/

/* /STYLE */