/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2rem;
    background-color: #000;
}

/* /GENERAL RULES */

/****** UTILITIES ******/
.container {
    width: 1500px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.end {
    justify-content: flex-end;
}

/****** /UTILITIES ******/

/* STYLE */

/* Header style */
header {
    height: 10vh;
}

.header-button {
    background-color: #666;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    margin-right: 5px;
    height: 30px;
}

/* /Header style */

/** Main style **/
main {
    height: 80vh;
    overflow-y: auto;
}

.users-card {
    width: calc(100% / 7 - 10px);
    margin: 5px 5px;
    position: relative;
}

.users-card img {
    width: 100%;
    display: block;
}

.user-info {
    color: #fff;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #66737d;
    opacity: 0.8;
    padding: 5px;
}

/** /Main style **/

/* Footer style */
footer {
    height: 10vh;
    background-color: #222;
}

/* /Footer style */

/* /STYLE */